[submodule "modules/radio"]
	path = modules/radio
	url = git@github.com:VTC-WISDOM/whale_radio_rfm69.git
[submodule "modules/rtc"]
	path = modules/rtc
	url = git@github.com:VTC-WISDOM/whale_rtc.git
[submodule "modules/eeprom"]
	path = modules/eeprom
	url = git@github.com:VTC-WISDOM/whale_eeprom.git
[submodule "modules/cellular"]
	path = modules/cellular
	url = git@github.com:VTC-WISDOM/whale_cellular.git
